/* SectionTransition.css */

.transition-container {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.transition-video.visible {
    opacity: 1;
}

.video-loader {
    color: #333;
    font-family: monospace;
    font-size: 1rem;
    z-index: 0;
}